html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
  button {
    max-width: 50%;
    border-radius: 50px !important;
  }
  section p {
    font-size: 16px;
    font-weight: 300;
  }